*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.header {
  display: block;
  height: 60px;
  background-color: #226856;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #2f4956;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  list-style: none;
  padding-top: 22px;
  position: relative;
}

.header__link {
  color: azure;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 13px;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 15px;
    height: 20px;
    padding-left: 15px;
    z-index: 2;
  }
  .header__burger span {
    position: absolute;
    background-color: #e7fcfc;
    width: 100%;
    height: 2px;
    top: 19px;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #e7fcfc;
    position: absolute;
    width: 100%;
    height: 2px;
  }
  .header__burger:before {
    top: 10px;
  }
  .header__burger:after {
    bottom: -10px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #71a5a2;
  }
  .header::before {
    height: 40px;
    background-color: #386077;
    z-index: 2;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 10px 0px;
  }
}
